@model AuviaTask.Models.AddEmployeeViewModel 

@{
}
<h1>Add Employee</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" placeholder="Name" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Birth Date</label>
        <input type="date" placeholder="12/30/2023" class="form-control" asp-for="BirthDate">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Phone</label>
        <input type="tel" placeholder="+1 23456789" class="form-control" asp-for="Phone">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Employment Date</label>
        <input type="date" placeholder="12/30/2023" class="form-control" asp-for="EmploymentDate">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Personal Photo</label>
        <input type="file" class="form-control" asp-for="PersonalPhoto">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Governorate</label>
        <input type="text" placeholder="Akkar, Beirut, Beqaa, Nabatieh," class="form-control" asp-for="Governorate">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Is Probation</label>
        <input type="checkbox" class="form-check-input" asp-for="IsProbation">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Is Deleted</label>
        <input type="checkbox" class="form-check-input" asp-for="IsDeleted">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>